body {
  font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
    letter-spacing: .09em;
  padding: 50px 0;
  max-height: 500px;
}

.container {
  width: 50%;
  max-width: 900px;
  margin: 10% auto;
  background: #AFEEEE;
  padding: 20px;
  box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}

.container * {
  box-sizing: border-box;

}
